init = function() {
	$('body').prepend('<div id="fb-root"></div>');
	
	$.ajax({
		url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js",
		dataType: 'script',
		cache: true
	});
	
	
	window.fbAsyncInit = function() {
	  FB.init({
	  		appId: '<%= ENV["FACEBOOK_APP_ID"] %>', 
	  		cookie: true
	  });
	
	  $('#sign_in').click(function(e) {
			e.preventDefault()
			return FB.login(function(response) {
				if (response.authResponse) {
					window.location = '/auth/facebook/callback';
				}
			});
	  });
	
		return $('#sign_out').click(function(e) {
			FB.getLoginStatus(function(response) {
				if (response.authResponse) {
					FB.logout();
				}
			});
	    return true;
		});
	 
	};
};

init.call(this);
